<div class="chat-section">

  <!-- Chat Side Nav -->
  <div class="chat-side-navigation">
      <ul>
          <li><a>New Message</a></li>
          <li><a>Inbox (0)</a></li>
          <li><a>Sent Items</a></li>
          <li><a>Trash</a></li>
          <li><a>Post on timeline</a></li>
      </ul>
  </div>
  <!---->

  <!-- Chat User List -->
  <div class="chat-user-list">
      <div class="chat-user-search">
          <input type="search" placeholder="Search">
      </div>
      <div class="chat-user-list-box">
          <!-- Chat User-->
          <div class="chat-user">
              <div class="chat-user-img">
                  <img src="assets/images/user-image.png">
              </div>
              <div class="chat-user-text">
                  <h4>Anthony Marcus</h4>
                  <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                  <span>Dec 12</span>
              </div>
          </div>
          <!---->
          <!-- Chat User-->
          <div class="chat-user">
                  <div class="chat-user-img">
                      <img src="assets/images/user-image.png">
                  </div>
                  <div class="chat-user-text">
                      <h4>Anthony Marcus</h4>
                      <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                      <span>Dec 12</span>
                  </div>
              </div>
           <!----> 
          <!-- Chat User-->
          <div class="chat-user">
                  <div class="chat-user-img">
                      <img src="assets/images/user-image.png">
                  </div>
                  <div class="chat-user-text">
                      <h4>Anthony Marcus</h4>
                      <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                      <span>Dec 12</span>
                  </div>
              </div>
              <!---->
              <!-- Chat User-->
              <div class="chat-user">
                      <div class="chat-user-img">
                          <img src="assets/images/user-image.png">
                      </div>
                      <div class="chat-user-text">
                          <h4>Anthony Marcus</h4>
                          <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                          <span>Dec 12</span>
                      </div>
                  </div>
               <!----> 
          <!-- Chat User-->
          <div class="chat-user">
                  <div class="chat-user-img">
                      <img src="assets/images/user-image.png">
                  </div>
                  <div class="chat-user-text">
                      <h4>Anthony Marcus</h4>
                      <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                      <span>Dec 12</span>
                  </div>
              </div>
              <!---->
              <!-- Chat User-->
              <div class="chat-user">
                      <div class="chat-user-img">
                          <img src="assets/images/user-image.png">
                      </div>
                      <div class="chat-user-text">
                          <h4>Anthony Marcus</h4>
                          <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                          <span>Dec 12</span>
                      </div>
                  </div>
               <!----> 
          <!-- Chat User-->
          <div class="chat-user">
                  <div class="chat-user-img">
                      <img src="assets/images/user-image.png">
                  </div>
                  <div class="chat-user-text">
                      <h4>Anthony Marcus</h4>
                      <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                      <span>Dec 12</span>
                  </div>
              </div>
              <!---->
              <!-- Chat User-->
              <div class="chat-user">
                      <div class="chat-user-img">
                          <img src="assets/images/user-image.png">
                      </div>
                      <div class="chat-user-text">
                          <h4>Anthony Marcus</h4>
                          <p>Lorem ipsum dolor sit amet nam no fugit mundi...</p>
                          <span>Dec 12</span>
                      </div>
                  </div>
               <!---->                                                                          
      </div>
  </div>
  <!---->

  <!-- Chat Display Box -->
  <div class="chat-display-box">
      
     <!-- Chatting Head--> 
      <div class="chatting-head">
          <button>Move to Trash</button>
          <button>Delete</button>
      </div>
      <!-- Chatting List Box -->
      
            <cdk-virtual-scroll-viewport itemSize="5" class="chatting-list-box">
                   
            <div style="padding:20px;">
      

                    <div class="user-chatting my-chatting">
                            <div class="chatting-user-img">
                                    <img src="assets/images/user-image.png">  
                            </div>
                            <div class="chatting-user-text">
                                <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                <span>4:48 PM</span>
                            </div>
                        </div>
              
              
                        <div class="user-chatting client-chatting">
                                <div class="chatting-user-img">
                                        <img src="assets/images/user-image2.png">  
                                   </div>
                                <div class="chatting-user-text">
                                    <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                    <span>4:48 PM</span>
                                </div>
                            </div>
              
              
              
                            <div class="user-chatting my-chatting">
                                <div class="chatting-user-img">
                                        <img src="assets/images/user-image.png">  
                                </div>
                                <div class="chatting-user-text">
                                    <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                    <span>4:48 PM</span>
                                </div>
                            </div>
              
              
                            <div class="user-chatting client-chatting">
                                    <div class="chatting-user-img">
                                            <img src="assets/images/user-image2.png">  
                                       </div>
                                    <div class="chatting-user-text">
                                        <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                        <span>4:48 PM</span>
                                    </div>
                                </div>

                                
              
                            <div class="user-chatting client-chatting">
                                    <div class="chatting-user-img">
                                            <img src="assets/images/user-image2.png">  
                                       </div>
                                    <div class="chatting-user-text">
                                        <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                        <span>4:48 PM</span>
                                    </div>
                                </div>

                                
              
                            <div class="user-chatting client-chatting">
                                    <div class="chatting-user-img">
                                            <img src="assets/images/user-image2.png">  
                                       </div>
                                    <div class="chatting-user-text">
                                        <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                        <span>4:48 PM</span>
                                    </div>
                                </div>

                                
              
              
                            <div class="user-chatting my-chatting">
                                    <div class="chatting-user-img">
                                            <img src="assets/images/user-image.png">  
                                    </div>
                                    <div class="chatting-user-text">
                                        <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                        <span>4:48 PM</span>
                                    </div>
                                </div>
                  
                  
                                <div class="user-chatting client-chatting">
                                        <div class="chatting-user-img">
                                                <img src="assets/images/user-image2.png">  
                                           </div>
                                        <div class="chatting-user-text">
                                            <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                            <span>4:48 PM</span>
                                        </div>
                                    </div>
    
                                    
                  
                                <div class="user-chatting client-chatting">
                                        <div class="chatting-user-img">
                                                <img src="assets/images/user-image2.png">  
                                           </div>
                                        <div class="chatting-user-text">
                                            <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                            <span>4:48 PM</span>
                                        </div>
                                    </div>
    
                                    
                  
                                <div class="user-chatting client-chatting">
                                        <div class="chatting-user-img">
                                                <img src="assets/images/user-image2.png">  
                                           </div>
                                        <div class="chatting-user-text">
                                            <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                                            <span>4:48 PM</span>
                                        </div>
                                    </div>

                                
          <div class="user-chatting my-chatting">
              <div class="chatting-user-img">
                      <img src="assets/images/user-image.png">  
              </div>
              <div class="chatting-user-text">
                  <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                  <span>4:48 PM</span>
              </div>
          </div>


          <div class="user-chatting client-chatting">
                  <div class="chatting-user-img">
                          <img src="assets/images/user-image2.png">  
                     </div>
                  <div class="chatting-user-text">
                      <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                      <span>4:48 PM</span>
                  </div>
              </div>



              <div class="user-chatting my-chatting">
                  <div class="chatting-user-img">
                          <img src="assets/images/user-image.png">  
                  </div>
                  <div class="chatting-user-text">
                      <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                      <span>4:48 PM</span>
                  </div>
              </div>


              <div class="user-chatting client-chatting">
                      <div class="chatting-user-img">
                              <img src="assets/images/user-image2.png">  
                         </div>
                      <div class="chatting-user-text">
                          <p>You can take Gutenberg for a spin (and share your feedback, if you’d like) before we officially release it, by installing it as a plugin.</p>
                          <span>4:48 PM</span>
                      </div>
                  </div>


                </div>
                </cdk-virtual-scroll-viewport>
    <!-- Chatting Footer -->
      <div class="chatting-footer">
          <input type="text" placeholder="Type your message">
          <button>Send</button>
      </div>
  </div>
  <!---->

</div>
