.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .tabs {
    span {
      color: #333;
    }
    .active{
      color: red;
    }
  }